{% if title != blank or text != blank or url_text != blank or url_text_2 != blank %}
{%- assign bg_alpha = background_color | color_extract: 'alpha' -%}
{%- if bg_alpha == 0 -%}
  {%- assign overlay_has_transparent_bg = true -%}
{%- else -%}
  {%- assign overlay_has_transparent_bg = false -%}
{%- endif -%}
{%- assign link_inherit_color = false -%}
{%- if url_style == 'link_style' -%}
  {%- if bg_alpha == 0 or background_color != settings.color_body_background -%}
    {%- assign link_inherit_color = true -%}
  {%- endif -%}
{%- endif -%}

<div class="overlay {% if mobile_text_below == true %} mobile-overlay-under {% if overlay_has_transparent_bg %}overlay--use-body-colours-mobile{% endif %} {% endif %} overlay--center global-border-radius-overlays {% if position != blank %}overlay--{{ position }}{% endif %} {% if url != blank and url_text != blank %}overlay--has-link{% endif %} {% if background_color == settings.color_body_background %}overlay--bg-matches-page-bg{% endif %} avoid-overlaps__item">
  <h1>{{ block.settings.big_title }}</h1>
  <div class="overlay__bg {% if bg_alpha == 0 %}overlay__bg--transparent{% endif %}" {% if bg_alpha > 0 %}style="background-color: {{ background_color }}"{% endif %}></div>
  <div class="overlay__content" style="color: {{ text_color }}">
    {% if rssicon %}
      <a class="blog-rsslink" href="{{ blog.url }}.atom" title="{{ blog.title | escape }} RSS">
        <span class="feather-icon">{% render 'feather-rss' %}</span>
      </a>
    {% endif %}
    {% if title != blank %}
    <h2 class="large-title">{{ title }}</h2>
    {% endif %}
    {% if text != blank %}
    <div class="overlay-text">{{ text }}</div>
    {% endif %}
    {% if url_text != blank or url_text_2 != blank %}
      <div class="overlay__links">
    {% endif %}
    {% if url_text != blank %}
      <a class="{% if url_style == 'button_1' %}btn btn--small btn--primary{% elsif url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if link_inherit_color == true %}standard-link--inherit-color{% endif %}{% endif %}" href="{{ url }}">{{ url_text | escape }}</a>
    {% endif %}
   
    {% if url_text != blank or url_text_2 != blank %}
      </div>
    {% endif %}
    {% if footer != blank %}
      <div class="overlay-footer">{{ footer }}</div>
    {% endif %}
  </div>
  
  
</div>
 {% if url_text_2 != blank %}
<div class="slideshow__btn"><a class="{% if url_style == 'button_1' %}btn btn--small btn--primary{% elsif url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if link_inherit_color == true %}standard-link--inherit-color{% endif %}{% endif %}" href="{{ url_2 }}">{{ url_text_2 | escape }}</a></div>
    {% endif %}
{% endif %}

