<script>
{{ settings.mlvedaMCP_isSaleClass }} && $m("<style type='text/css'>{{ settings.mlvedaMCP_saleClass }}{ visibility : hidden; }</style>").appendTo("head");
{{ settings.mlvedaMCP_isSaveAmount }} && $m("<style type='text/css'>{{ settings.mlvedaMCP_saveAmountClass }}{ visibility : hidden; }</style>").appendTo("head");
{{ settings.mlvedaMCP_isSalePercentage }} && $m("<style type='text/css'>{{ settings.mlvedaMCP_salePercentageClass }}{ visibility : hidden; }</style>").appendTo("head");
$m("<style type='text/css'>span.money{ display : none; }</style>").appendTo("head");
          
          {% if template contains 'product' or template == 'index' %}
            $m("<style type='text/css'>form[action*='/cart/add'] [type='submit']{visibility : hidden;}</style>").appendTo("head");
          {% endif %}  
		</script>


<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
window.regex_mlveda_country1 = /mlveda_country\s*:\s*(<(([a-z]+)\s*([^>]*))>)*\w+(<\/\3>)*/g;
window.regex_mlveda_country2 = /(<(([a-z]+)\s*([^>]*))>)*mlveda_country:{0,1}(<\/\3>)*:{0,1}\s*(<(([a-z]+)\s*([^>]*))>)*\w+(<\/\8>)*/g;
window.lets_remove_mlveda = false;
window.shopify_supported_currencies = "";
</script>
  
{% if template == 'cart' %}
<script>
    var mlveda_country_removed = true;
  document.addEventListener('DOMContentLoaded', function () {
    mlveda_country_removed = false;
  });

document.addEventListener('DOMSubtreeModified', function () {
  if ( mlveda_country_removed ) {
      Array.from($m("body").find(':contains("mlveda_country")')).filter(
        (currentElement) => {
        if ( currentElement.childElementCount == 0 && $m(currentElement).parents("form[action*='/cart/add']").length == 0 && currentElement.nodeName != 'SCRIPT' && currentElement.parentElement) {
          if ( currentElement.parentElement.innerHTML.indexOf("mlveda_country:<") != - 1 || currentElement.parentElement.innerHTML.indexOf("mlveda_country<") != - 1 ) {
            var match = currentElement.parentElement.innerHTML.match(regex_mlveda_country2);
          } else {
            var match = currentElement.parentElement.innerHTML.match(regex_mlveda_country1);
          }
          if ( match ) {
            currentElement.parentElement.innerHTML = currentElement.parentElement.innerHTML.replace(match[0],"");
	    mlveda_country_removed = false;
          }
        }
      }
    );
  }
});
</script>
{% endif %}

{% if shop.enabled_currencies.size > 1 %}
  <script>
{% for currency in shop.enabled_currencies %}
   shopify_supported_currencies = shopify_supported_currencies + "{{ currency.iso_code }} ";
{% endfor %}
</script>
{% if cart.currency.iso_code != shop.currency and template != 'cart' %}
 <script>
  {% if template contains 'search' %}
     if(!Shopify.designMode){
     window.location.href = location.pathname + "?currency={{ shop.currency }}" + location.search.replace("?", "&");
     } 
   {% else %}
    if(!Shopify.designMode){
    window.location.href = "/cart/update?currency={{ shop.currency }}&return_to="+(location.pathname+location.search);
    }
    {% endif %}
 </script>
 {% endif %}
{% if template == "cart" %}
 <script>
   function mlvedaReadCookie(name) {
   var nameEQ = name + "=";
   var ca = document.cookie.split(';');
   for (var i = 0; i < ca.length; i++) {
       var c = ca[i];
       while (c.charAt(0) == ' ')
           c = c.substring(1, c.length);
       if (c.indexOf(nameEQ) == 0)
           return c.substring(nameEQ.length, c.length);
   }
   return null;
   }
   if( mlvedaReadCookie("acscurrency") !== "{{ cart.currency.iso_code }}" && shopify_supported_currencies.indexOf(mlvedaReadCookie("acscurrency")) != -1) {
      if (!Shopify.designMode) {
      window.location.href = "/cart/update?currency="+mlvedaReadCookie("acscurrency")+"&return_to="+(location.pathname+location.search);
   }
   }
   </script>
 {% endif %}
{% endif %}
