{%- if aspect_ratio -%}
{%- assign cover = true -%}
{%- else -%}
{%- assign aspect_ratio = image.aspect_ratio -%}
{%- assign cover = false -%}
{%- endif -%}
<div class="rimage-outer-wrapper" {% unless nomax %}style="max-width: {{ image.width }}px; max-height: {{ image.height }}px"{% endunless %}>
  <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%">
    {% if initial %}
      <img class="rimage__image lazyload fade-in {% if cover %}cover{% endif %}" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'/%3E" data-src="{{ image | img_url: initial }}">
      {% assign initial = false %}
    {% endif %}
    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    {% unless noimgtag %}
      <img class="rimage__image lazyload fade-in {% if cover %}cover{% endif %}"
      src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'/%3E"
      data-src="{{ img_url }}"
      data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ image.alt | escape }}"
      {% if cover %}data-parent-fit="cover"{% endif %} {% if attributes %}{{ attributes }}{% endif %}>
  
    {% endunless %}
      <p>{{ txt }}</p>
    <noscript>
      {% assign img_url = image | img_url: '1024x1024' %}
      <img src="{{ img_url }}" alt="{{ image.alt | escape }}" class="rimage__image">
    </noscript>
  </div>
</div>
{% assign aspect_ratio = false %}

