<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
<!-- MLveda code starts -->
 {% assign mlveda_code_flag = true %}
  
  {% if mlveda_code_flag == true %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      	$m = $.noConflict(true);
	 window.pattern = /^(do|sv|ee|fi|fr|gd|gp|gg|hu|is|im|il|kz|ke|kg|la|mo|mk|mh|mq|ms|ma|nl|ne|ng|no|pw|py|pl|pt|kn|st|sc|sg|sk|za|sr|sj|th|to|tm|tc|uz|vu|vn|zm|af|al|as|ao|ai|an|ag|ar|as|bb|by|aq|bm|bq|bv|au|vg|bs|cv|bh|cf|bd|cn|be|co|ba|ci|bw|dk|bn|dm|bi|cd|cm|ec|ca|eg|td|gq|cx|er|cc|et|cr|eu|ga|gh|cy|gi|dj|gu|eu|gt|fk|gn|fo|gw|gf|hm|pf|hn|gm|iq|ge|ie|de|jm|gr|jp|in|ki|id|lr|je|mw|lv|my|ly|mu|li|yt|mv|mx|mc|mn|mz|nr|np|ni|nu|nf|pk|na|ph|oc|pn|om|qa|pg|re|pr|sh|ro|ru|rw|sm|bl|rs|pm|sx|vc|gs|sa|sd|sl|se|si|tj|tz|sb|tt|sa|tn|es|gb|lk|va|ch|zw|sy|tw|tl|tg|tr|um|vi|ug|us|uy|ve|af|ax|dz|ad|am|aw|at|az|bz|bj|bt|bo|br|io|bg|bf|kh|ky|cl|km|cg|ck|hr|cu|cw|cz|fj|tf|gl|gy|ht|hk|ir|it|jo|kw|lb|ls|lt|lu|mg|ml|mt|mr|fm|md|me|mm|na|nc|nz|kp|mp|ps|pa|pe|lc|mf|ws|sn|so|kr|ss|sz|tk|tv|ua|ae|wf|eh|ye|intl)$/;
      </script>

  {% endif %}
<!-- MLveda code ends -->
  
  <!-- Global site tag (gtag.js) - Google Ads: 440578474 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-440578474"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-440578474');
</script>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const videoElement = document.querySelector('iframe.vimeo-player');
    const videoElement2 = document.querySelector('iframe.vimeo-player-2');

    if (videoElement) {
      const videoPlayer = new Vimeo.Player(videoElement);
      videoPlayer.on('play', function() {
        videoPlayer.requestFullscreen();
      });
    }

    if (videoElement2) {
      const videoPlayer = new Vimeo.Player(videoElement2);
      videoPlayer.on('play', function() {
        videoPlayer.requestFullscreen();
      });
    }
  });
</script>
  
  {% render 'head-tag' %}
  <!-- Boost 1.6.14 -->
  <meta name="theme-color" content="{{ settings.primary_btn_background }}">

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% render 'social-meta-tags' %}

  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    window.slate = window.slate || {};
    theme.moneyFormat = {{ shop.money_format | json }},
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      addingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      addedToCart: {{ 'products.product.added' | t | json }},
      addedToCartPopupTitle: {{ 'layout.cart.added_title' | t | json }},
      addedToCartPopupItems: {{ 'layout.cart.items' | t | json }},
      addedToCartPopupSubtotal: {{ 'layout.cart.subtotal' | t | json }},
      addedToCartPopupGoToCart: {{ 'layout.cart.go_to_cart' | t | json }},
      cartTermsNotChecked: {{ 'cart.terms.confirmation' | t | json }},
      searchLoading: {{ 'layout.header.search_loading' | t | json }},
      searchMoreResults: {{ 'layout.header.search_more_results' | t | json }},
      searchNoResults: {{ 'layout.header.search_no_results' | t | json }},
      priceFrom: {{ 'products.product.from_text' | t | json }},
      quantityTooHigh: {{ 'cart.general.quantity_too_high' | t: quantity: '[[ quantity ]]' | json }},
      onSale: {{ 'products.product.on_sale' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unitPriceSeparator: {{ 'products.product.unit_price_separator' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }},
      cart_shipping_calculator_hide_calculator: {{ 'cart.shipping_calculator.hide_calculator' | t | json }},
      cart_shipping_calculator_title: {{ 'cart.shipping_calculator.title' | t | json }},
      cart_general_hide_note: {{ 'cart.general.hide_note' | t | json }},
      cart_general_show_note: {{ 'cart.general.show_note' | t | json }},
      previous: {{'general.accessibility_labels.previous' | t | json }},
      next: {{'general.accessibility_labels.next' | t | json }}
    }
    theme.routes = {
      account_login_url: '{{ routes.account_login_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      product_recommendations_url: '{{ routes.product_recommendations_url }}'
    }
    theme.settings = {
      uniformProductGridImagesEnabled: {{ settings.align_product_titles | json }},
      soldLabelEnabled: {{ settings.sold_label_enabled | json }},
      saleLabelEnabled: {{ settings.sale_label_enabled | json }},
      gridShowVendor: {{ settings.grid_show_vendor | json }}
    }
  </script>

  {% if template.directory == 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  {{ content_for_header }}

<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script><!-- MLveda code starts -->
 {% if mlveda_code_flag == true %}
    {% include 'mlveda-multipricing-options' %}
  {% endif %}

<script>
document.addEventListener('DOMSubtreeModified', function () {
	Array.from(document.querySelectorAll("form[action*='/cart/add'] *")).filter(
   		(currentElement) => { 
        	if ( (currentElement.childElementCount == 0 || currentElement.childElementCount == 1) && !(currentElement.parentElement.querySelector('[type="submit"]') || currentElement.parentElement.querySelector('[name="add"]') || currentElement.parentElement.querySelector('[name="id"]')) && currentElement.innerHTML.toLowerCase().trim().indexOf("mlveda_country") != -1 && currentElement.parentElement.style.display != "none" ) {
            	currentElement.parentElement.setAttribute("style", "display: none !important");
            } 
        }
	);
});
</script>
<!-- MLveda code ends -->

<script>
window.moneyformat = "{{ shop.money_format }}"
</script>
  
  <!-- Hotjar Tracking Code for https://doomlings.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2617972,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <!-- Start VWO Async SmartCode -->
<script type='text/javascript'>
window._vwo_code = window._vwo_code || (function(){
var account_id=587732,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
is_spa=1,
hide_element='body',

/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
window.settings_timer=setTimeout(function () {_vwo_code.finish() },settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
</script>

<script>
  var tsv = "{{ 'backers.tsv' | asset_url }}";
</script>

<!-- End VWO Async SmartCode -->
{% include 'sca.freegifts' %}
  
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Yotpo JavaScript > Layout > theme.liquid -->
  <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",
      e.async=true,e.src="//staticw2.yotpo.com/WhjPXLmyP9EoYC6VNjgNwOpAknpb1FQ3bVCCIeRU/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>
  <!-- End of Yotpo JavaScript -->  
{% include 'dexter' %}

{% include 'MonsterUpsell-shopify-prod-head' %}</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}
  {% render 'breadcrumbs' %}

  <main id="MainContent">
    {% assign accent_alpha = settings.accent_color | color_extract: 'alpha' %}
    {% if template contains 'index' and settings.color_body_background != settings.accent_color and accent_alpha > 0%}
      <span class="accent-background"></span>
    {% endif %}

    <!-- MLveda code starts -->
	{% if mlveda_code_flag == false %}
          	{{ content_for_layout }}	
          {% endif %}

          {% if mlveda_code_flag == true %}
            {{ content_for_layout }}
          	{% include 'mlveda-multipricing-selectBox' %}
          	{% include 'mlveda-multipricing-selectors' %}
          {% endif %}
<!-- MLveda code ends -->
  </main>

  {% section 'footer' %}
  {% section 'popup' %}

  <a href="#" class="focus-tint" aria-hidden="true" aria-label="{{ 'general.accessibility_labels.close' | t }}"></a>
  {% if template contains 'product' %}{% render 'photoswipe' %}{% endif %}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  <script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=doomlings.myshopify.com" defer></script>
  {% render 'body-end-tag' %}
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}{% include 'mlveda-currencies-style' %}<!-- MLveda code starts -->
{% if mlveda_code_flag == true %}
		{% include 'mlveda-multipricing-updateprice' %}
  {% else %}
		<script>mlvedaFlagCalled = true;</script>
  {% endif %}
<!-- MLveda code ends -->
{% include 'MonsterUpsell-shopify-prod-body' %}</body>
</html>