{%- assign collection = collections[section.settings.collection] -%}
{%- if section.settings.enable_carousel == true -%}
  {%- assign product_count = 12 -%}
{%- else -%}
  {%- assign product_count = section.settings.row_count | times: section.settings.grid -%}
{%- endif -%}

<section class="relative container large-row featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  <div class="page-width">
    {%- if section.settings.title != blank or section.settings.link_text != blank or section.settings.enable_carousel == true -%}
    <div class="large-row ">

      <div class="featured-collection--title text-center">
        {% if section.settings.heading_img != blank %}
          <div class="text_image"><img src="{{ section.settings.heading_img | img_url: 'master'}}"></div>
        {% endif %}
        
        {% if section.settings.title != blank %}
          <h2 class="small-title">{{ section.settings.title | escape }}</h2>
        {% endif %}

        {% if section.settings.link_text != blank %}
          <a class="standard-link" href="{{ collection.url }}">{{ section.settings.link_text | escape }}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="product-carousel-peek">

      {%- if section.settings.enable_carousel == true -%}
        <div class="featured-collection-controls featured-collection-controls--prev">
          <button class="btn--plain prev icon feather-icon" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}">{% render 'feather-arrow-left' %}</button>
        </div>
      {%- endif -%}

      <div class="grid-flex" {%- if section.settings.enable_carousel == true -%}data-carousel-enabled data-slides-per-row="{{ section.settings.grid }}"{%- endif -%}>
        {%- assign grid_class = 'one-quarter' -%}
        {%- if section.settings.grid == 2 -%}
          {%- assign grid_class = 'one-half' -%}
        {%- elsif section.settings.grid == 3 -%}
          {%- assign grid_class = 'one-third' -%}
        {%- elsif section.settings.grid == 5 -%}
          {%- assign grid_class = 'one-fifth' -%}
        {%- endif -%}
        {% capture grid_class_list %}{{ grid_class }} small-down--one-half grid-flex__item{% endcapture %}

        {% for product in collection.products limit: product_count %}
          {% assign quickbuy_toggle = settings.quickbuy_buttons_toggle %}
          {% render 'product-block', quickbuy: quickbuy_toggle, product: product, grid_class: grid_class_list, show_vendor: section.settings.show_vendor %}
        {%- else -%}
          {%- if section.settings.enable_carousel == true -%}{%- assign product_count = 8 -%}{%- endif -%}
          {% for i in (1..product_count) %}
            <div class="featured-collection--product product-block relative grid-flex__item {{ grid_class_list }}">
              <div class="product-block__image-container">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                <div class="global-border-radius image-one">
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                </div>
              </div>
              <div class="product-block__title">
                {{ 'homepage.onboarding.product_title' | t }}
              </div>
              <div class="product-price"><span class="theme-money">{{ 1999 | money }}</span></div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      {%- if section.settings.enable_carousel == true -%}
        <div class="featured-collection-controls featured-collection-controls--next">
          <button class="btn--plain next icon feather-icon" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}">{% render 'feather-arrow-right' %}</button>
        </div>
        {% render 'peek-carousel-advice' %}
      {%- endif -%}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "class": "section-featured-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "image_picker",
        "id": "heading_img",
        "label": "Heading Image"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "Shop now"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": false
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "row_count",
        "label": "Rows (desktop)",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1,
        "info": "Does not apply to carousel layout"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
