
<section class="relative container container--no-mobile-padding large-row section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="image-with-text">
  {% style %}
    .section-{{ section.id }} .image-with-text {
      background-color: {{ section.settings.color_bg }};
      color: {{ section.settings.color_text }};
    }

    .section-{{ section.id }} .image-with-text__image-size {
      padding: {{ section.settings.image_size }}px;
    }

    {% if section.settings.image_size == '120' %}
      @media screen and (max-width: 1000px) and (min-width: 768px) {
        .section-{{ section.id }} .image-with-text__image-size {
          padding: {{ section.settings.image_size | divided_by: 2 }}px;
        }
      }
      @media screen and (max-width: 580px) {
        .section-{{ section.id }} .image-with-text__image-size {
          padding: {{ section.settings.image_size | divided_by: 2 }}px;
        }
      }
    {% endif %}
  {% endstyle %}

  <div class="page-width image-with-text flex global-border-radius {% if section.settings.image_position == 'right' %} image-with-text--reverse{% endif %} {% if section.settings.image_size == '0' %} image-with-text--full{% endif %}">

    <div class="one-half small-down--one-whole relative image-with-text__image">
      <div class="image-with-text__image-size">
        {% if section.settings.image_link != blank %}<a href="{{ section.settings.image_link }}">{% endif %}
        {% if section.settings.image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          {% render 'responsive-image', image: section.settings.image, nomax: true %}
        {% endif %}
        {% if section.settings.image_link != blank %}</a>{% endif %}
      </div>
    </div>

    <div class="one-half small-down--one-whole relative image-with-text__content">
      <div class="{%- if section.settings.text_alignment == 'center' -%}center{%- endif -%}">
        <h2 class="large-title">{{ section.settings.title }}</h2>
        {% if section.settings.text %}
          <div class="image-with-text__text">{{ section.settings.text }}</div>
        {% endif %}

        {% if section.settings.button_link != blank and section.settings.button_label != blank %}
          {%- assign inherit_colour = false -%}
          {%- if section.settings.url_style == 'link_style' -%}
            {%- assign alpha = section.settings.color_bg | color_extract: 'alpha' -%}
            {%- if alpha > 0 and section.settings.color_bg != settings.color_body_background -%}
              {%- assign inherit_colour = true -%}
            {%- endif -%}
          {%- endif -%}

          <a class="image-with-text__link {% if section.settings.url_style == 'button_1' %}btn btn--small btn--primary{% elsif section.settings.url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if inherit_colour %}standard-link--inherit-color{% endif %}{% endif %}" href="{{ section.settings.button_link }}">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text",
    "class": "section-image-with-text",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Size",
        "options": [
          { "value": "120", "label": "Small" },
          { "value": "60", "label": "Medium" },
          { "value": "30", "label": "Large" },
          { "value": "0", "label": "Full" }
        ],
        "default": "0",
        "info": "Images will not be stretched or cropped."
      },
      {
        "type": "radio",
        "id": "image_position",
        "label": "Alignment",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"

      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Advertise a sale! Or tell your shoppers something about yourself.<\/p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "radio",
        "id": "url_style",
        "label": "Button style",
        "options": [
          { "value": "button_1", "label": "Button - primary" },
          { "value": "button_2", "label": "Button - secondary" },
          { "value": "link_style", "label": "Link"}
        ],
        "default": "button_1"
      },
      {
        "type": "radio",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          { "value": "center", "label": "Center" },
          { "value": "left", "label": "Left" }
        ]
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#fbeae5"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#333333"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
