<section class="relative container container--no-mobile-padding section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="logo-list">
  {% style %}
    .section-{{ section.id }} .logo-list-section {
      background-color: {{ section.settings.color_bg }};
    }
    .section-{{ section.id }} .logo-list__logo {
      color: {{ section.settings.color_text }};
    }
    .section-{{ section.id }} .logo-list__title {
      color: {{ section.settings.color_title }};
    }
    .section-{{ section.id }} .logo-list__link .logo-list__logo-image {
      opacity: {{ section.settings.image_opacity }}%;
    }
    .section-{{ section.id }} .logo-list__link:hover .logo-list__logo-image {
      opacity: 100%;
    }
    {%- for block in section.blocks -%}
      .section-{{ section.id }} .logo-list__logo-{{ forloop.index }} .logo-list__logo-image {
        max-width: {{ block.settings.image_width }}px;
      }
    {%- endfor -%}
  {% endstyle%}
  <div class="page-width large-section logo-list-section global-border-radius large-row">

    {%- if section.settings.title != blank or section.settings.enable_carousel == true -%}
      <div class="logo-list__title text-center">
        {% if section.settings.title != blank %}
          <h2 class="large-title">{{ section.settings.title | escape }}</h2>
        {% endif %}
      </div>
    {% endif %}

    <div class="logo-list">
      {% for block in section.blocks %}
      {%- if block.settings.link != blank -%}
        <a class="logo-list__logo logo-list__logo-{{ forloop.index }} logo-list__link" href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
      {%- else -%}
        <div class="logo-list__logo logo-list__logo-{{ forloop.index }}" {{ block.shopify_attributes }}>
      {%- endif -%}

        <div class="logo-list__logo-image">
          {%- if block.settings.image != blank -%}
            <div class="rimage-outer-wrapper" style="max-width: {{ block.settings.image.width }}px">
              <div class="rimage-wrapper lazyload--placeholder" style="padding-top: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%">
                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="rimage__image lazyload fade-in"
                  data-src="{{ img_url }}"
                  data-widths="[{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2}}]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt | escape }}">
                <noscript>
                  {%- capture image_width_key -%}{{ block.settings.image_width }}x{%- endcapture -%}
                  <img class="rimage__image" src="{{ block.settings.image | img_url: image_width_key }}" alt="{{ image.alt | escape }}">
                </noscript>
              </div>
            </div>
          {%- else -%}
            <div class="placeholder-image">
              {{- 'logo' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>
          {%- endif -%}
        </div>

        {%- if block.settings.title != blank -%}
          <div class="logo-list__logo-text">
            {{ block.settings.title }}
          </div>
        {%- endif -%}

      {%- unless block.settings.link != blank -%}
        </div>
      {%- else -%}
       </a>
      {%- endunless -%}

      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Logo list",
  "class": "section-logo-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Heading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color",
      "default": "#333333"
    },
    {
      "type": "range",
      "id": "image_opacity",
      "label": "Logo opacity",
      "info": "Used to create hover effect when a link is added.",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Logo width",
          "min": 40,
          "max": 280,
          "step": 10,
          "unit": "px",
          "default": 160
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
