
<section class="iframe-section">
    {{ section.settings.custom_html }}
</section>
<style>
  .breadcrumbs{
  	display:none;
  }
  #compendium{
  	overflow-x: hidden;
  }
  #MainContent{
  	padding-bottom: 0px;
  }
  .iframe-section{
  	width: 100vw;
    
  }
  .iframe-section iframe{
    width: 100vw;
    height: 5789px;
   
  }
</style>


{% schema %}
  {
    "name": "Page Compare Template",
    "settings": [
      {
        "type": "html",
        "id": "custom_html",
        "label": "Custom HTML",
        "default": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>",
        "info": "Please note that errors in any custom HTML can affect your theme layout. Please make sure all HTML is valid."
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Page Compendium Template"
      }
    ]
  }
{% endschema %}
