<div class="story-page-template" data-section-id="{{ section.id }}" data-section-type="nested-sections">
    <div class="container">
      <div class="reading-width subscribe-form">
        {% form 'customer' %}
          {% if form.posted_successfully? %}
            <div class="subscribe-form__response subscribe-form__response--success">
              <h4>{{ 'general.newsletter.success' | t }}</h4>
            </div>
          {% else %}
            {% if form.errors %}
              <div class="subscribe-form__response">
                {% for field in form.errors %}
                <p class="error-message">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
            <div class="subscribe-form__inputs">
              <div class="input-wrapper grid__item two-thirds small-down--one-whole">
                <label class="subscribe-form__label" for="mailinglist_email">{{ 'layout.signup.email' | t }}</label>
                <input type="email" required class="subscribe-form__email required grid__item one-third" value="" id="mailinglist_email" name="contact[email]" />
              </div>
              <div class="grid__item one-third small-down--one-whole">
                <button class="btn subscribe-form__submit" type="submit">{{ 'layout.signup.submit' | t | escape }}</button>
              </div>
            </div>
          {% endif %}
        {% endform %}
        </div>
    </div>
</div>
  <style>
    .mobile-view{
      display:block;
    }
    .desktop-view{
      display:none;
    }
    .mobile-view.disktop-hidden{
      display:flex;
      justify-content: center;
    }
    .mobile-view.disktop-hidden .grid-flex__item{
      width: 85%;
    }
    .section-featured-collection .Games .product-carousel-peek .product-block:first-of-type{
      display: none;
    }
    @media only screen and (min-width: 767px) {
      .mobile-view{
        display:none !important;
      }
      .desktop-view{
        display:block;
      }
      .section-featured-collection .Games .product-carousel-peek .product-block:first-of-type{
        display: block;
      }
  
    }
  </style>
  {% schema %}
    {
      "name": "Signup page",
      "class": "section-sign-page",
      "settings": [
        {
          "type": "paragraph",
          "content": "Join our newsletter"
        },
        {
        "type": "image_picker",
        "id": "desktop_background",
        "label": "Desktop Background"
        },
        {
          "type": "image_picker",
          "id": "mobile_background",
          "label": "Mobile Background"
        },
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Image"
        },
        {
        "id": "newsletter_text",
        "type": "text",
        "label": "Newsletter Text",
        "default": "Get exciting updates, exclusive content, and more!"
        }
      ]
    }
  {% endschema %}
  
  
  