{% style %}
  {% capture brightness %}{{ section.settings.collection_background }}{% endcapture %}
  {% assign brightness_number = brightness | color_brightness %}
  {% if brightness_number < 135 %}{% assign text_color = '#ffffff' %}{% else %}{% assign text_color = '#000000' %}{% endif %}

  .standout-collection-flex {
    background-color: {{ section.settings.collection_background }};
    color: {{ text_color }}
  }
{% endstyle %}

<div class="container standout-collection-section" data-section-id="{{ section.id }}" data-section-type="list-collections">

  <div class="page-width large-row center {% unless section.settings.show_title %}visually-hidden{% endunless %}">
    <h1 class="large-title">{{ page.title }}</h1>
  </div>

  {% if page.content != blank %}
  <div class="reading-width row">
    <div class="rte rte--expanded-images">
      {{ page.content }}
    </div>
  </div>
  {% endif %}

  <div class="page-width">
    <div class="large-row">
      {% if section.settings.layout == 'grid' %}
        <div class="grid-flex collection-list-plain">
          {%- assign grid_class = 'one-quarter' -%}
          {%- if section.settings.grid == 2 -%}
            {%- assign grid_class = 'one-half' -%}
          {%- elsif section.settings.grid == 3 -%}
            {%- assign grid_class = 'one-third' -%}
          {%- elsif section.settings.grid == 5 -%}
            {%- assign grid_class = 'one-fifth' -%}
          {%- endif -%}

          {%- assign grid_mobile_class = 'one-half' -%}
          {%- if section.settings.grid_mobile == '1' -%}
            {%- assign grid_mobile_class = 'one-whole' -%}
          {%- endif -%}

          {% capture grid_class_list %}{{ grid_class }} small-down--{{ grid_mobile_class }}{% endcapture %}

          {% for link in linklists[page.handle].links %}
            {% if link.type == 'collection_link' %}
              {% assign collection = link.object %}
              {% render 'collection-block', collection: collection, grid_class: grid_class_list, image: collection.image %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        {% for link in linklists[page.handle].links %}
          {% if link.type == 'collection_link' %}
            {% assign collection = link.object %}
            {%- assign reverse_this_layout = false -%}
            {%- assign index_modulo = forloop.index | modulo: 2 -%}
            {%- if section.settings.alternate_rows and index_modulo == 0 -%}
              {%- assign reverse_this_layout = true -%}
            {%- endif -%}
            {% render 'collection-block-special',
                  collection: collection,
                  block_id: '0',
                  block_attributes: '',
                  alternative_image: false,
                  reverse_layout: reverse_this_layout,
                  overlay_background_color: section.settings.color_overlay_background,
                  overlay_text_color: section.settings.color_overlay_text,
                  overlay_url_text: section.settings.overlay_url_text %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Collection list pages",
    "settings": [
      {
        "type": "paragraph",
        "content": "Use this template to create a curated list of collections. [Learn more](https://cleancanvas.co.uk/support/general/page-list-collections)"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "default": "magazine",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "magazine",
            "label": "Magazine"
          }
        ]
      },
      {
        "type": "header",
        "content": "Grid layout"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Collections per row mobile",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" }
        ],
        "default": "2"
      },
      {
        "type": "header",
        "content": "Magazine layout"
      },
      {
        "type": "checkbox",
        "id": "alternate_rows",
        "label": "Alternate layout every other row",
        "default": false
      },
      {
        "type": "text",
        "id": "overlay_url_text",
        "label": "Link text",
        "default": "Shop now"
      },
      {
        "type": "color",
        "id": "collection_background",
        "label": "Collection background color",
        "default": "#fbdfdb"
      },
      {
        "type": "color",
        "id": "color_overlay_background",
        "label": "Overlay background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_overlay_text",
        "label": "Overlay text color",
        "default": "#333333"
      }
    ]
  }
{% endschema %}
