
<section class="relative container container--no-mobile-padding large-row section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="rich-text-section">
  {% style %}
    .section-{{ section.id }} .rich-text-section {
      background-color: {{ section.settings.color_bg }};
      color: {{ section.settings.color_text }};
    }
    .section-{{ section.id }} .rich-text-section .large-title {
      color: {{ section.settings.color_title }};
    }
  {% endstyle%}
  <div class="page-width rich-text-section large-section global-border-radius">
    <div class="{% if section.settings.full_width == false %}reading-width{% endif %} text-center">
      {% if section.settings.title != blank %}
        <h2 class="large-title">{{ section.settings.title | escape }}</h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="rte {% if section.settings.enlarge_text %}large-text{% endif %}">
          {{ section.settings.text }}
        </div>
      {% endif %}

      {% if section.settings.button_link != blank and section.settings.button_label != blank %}

        {%- assign bg_alpha = section.settings.color_bg | color_extract: 'alpha' -%}
        {%- assign link_inherit_color = false -%}
        {%- if section.settings.section_url_style == 'link_style' -%}
          {%- if bg_alpha > 0 and section.settings.color_bg != settings.color_body_background -%}
            {%- assign link_inherit_color = true -%}
          {%- endif -%}
        {%- endif -%}

        <div class="rich-text-section__btn-row">
          <a class="{% if section.settings.section_url_style == 'button_1' %}btn btn--small btn--primary{% elsif section.settings.section_url_style == 'button_2' %}btn btn--small btn--secondary{% else %}standard-link {% if link_inherit_color == true %}standard-link--inherit-color{% endif %}{% endif %}" href="{{ section.settings.button_link | escape }}">{{ section.settings.button_label | escape }}</a>
        </div>
      {% endif %}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Rich text",
    "class": "section-rich-text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Rich text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your store with your customers.</p><p>Describe products, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "section_url_style",
        "label": "Button style",
        "options": [
          { "value": "button_1", "label": "Button - primary" },
          { "value": "button_2", "label": "Button - secondary" },
          { "value": "link_style", "label": "Link"}
        ],
        "default": "button_1"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#fafafa"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Heading color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#333333"
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
