<section id="section-id-{{ section.id }}" class="large-row container container--no-mobile-padding section-{{ section.id }}" data-section-id="{{ section.id }}"  data-section-type="video">
  {% style %}
    .section-{{ section.id }} .video-container__play.feather-icon svg {
      stroke: {{ section.settings.text_color }};
    }

    {% assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00 | round: 2 %}
    {% assign color_overlay_bg = section.settings.color_overlay_bg | color_modify: 'alpha', overlay_opacity  %}

    .section-{{ section.id }} .overlay__bg {
      background-color: {{ color_overlay_bg }};
    }

    .section-{{ section.id }} .overlay__content {
      color: {{ section.settings.text_color }};
    }
  {% endstyle %}

  <div class="page-width relative">

    {% if section.settings.video_url != blank %}
      <div class="video-container global-border-radius global-border-radius--not-extra-small video-container--image video-container--modal-mobile"
        data-video-id="{{ section.settings.video_url.id }}"
        data-video-url="{{ section.settings.video_url.url }}"
        data-video-type="{{ section.settings.video_url.type }}"
        data-video-autoplay="false"
        data-video-loop="false">
        <a class="video-container__stop" href="#" aria-label="{{ 'general.accessibility_labels.video_stop' | t | escape }}">{% render 'icon-close' %}</a>
        <div class="video-container__video"></div>
        <div class="video-container__cover">
          {%- if section.settings.cover_image == blank -%}
            <div class="placeholder-image video-container__cover">
              {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>
          {%- else -%}
            <div class="rimage-outer-wrapper rimage-background lazyload fade-in"
                data-bgset="{% render 'bgset', image: section.settings.cover_image %}"
                data-sizes="auto"
                data-parent-fit="cover"
                style="background-position: {{ section.settings.image_position }}">
              <noscript>
                <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%">
                  <img src="{{ section.settings.cover_image | img_url: '1024x1024' }}" alt="{{ section.settings.cover_image.alt | escape }}" class="rimage__image">
                </div>
              </noscript>
            </div>
          {% endif %}
        </div>

        <div class="overlay overlay-position overlay-position--{{ section.settings.overlay_position }} overlay-style--{{ section.settings.overlay_style }}">
          <div class="overlay-container global-border-radius-overlays overlay--center">
            <div class="overlay__bg"></div>
            <div class="overlay__content global-border-radius">
              {% if section.settings.title != blank %}
                <h2 class="overlay__heading large-title">{{ section.settings.title | newline_to_br }}</h2>
              {% endif %}
              {% if section.settings.text != blank %}
                <div class="overlay__text">{{ section.settings.text }}</div>
              {% endif %}
              <a href="#" class="video-container__play feather-icon" aria-label="{{ 'general.accessibility_labels.video_play' | t | escape }}">{% render 'feather-play' %}</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row-double-space video-section center">{{ 'homepage.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Video",
    "class": "section-video",
    "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video link",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "cover_image",
        "type": "image_picker",
        "label": "Cover image",
        "info": "Required. Shows over the video before it's played."
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "full",
        "options": [
          {
            "value": "full",
            "label": "Full image"
          },
          {
            "value": "box",
            "label": "Text box"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "color",
        "id": "color_overlay_bg",
        "label": "Background color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Background opacity",
        "default": 10,
        "unit": "%"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Watch our video"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "overlay_position",
        "label": "Text alignment",
        "default": "center-center",
        "options": [
          {
            "label": "Top left",
            "value": "top-left"
          },
          {
            "label": "Top center",
            "value": "top-center"
          },
          {
            "label": "Top right",
            "value": "top-right"
          },
          {
            "label": "Center left",
            "value": "center-left"
          },
          {
            "label": "Center center",
            "value": "center-center"
          },
          {
            "label": "Center right",
            "value": "center-right"
          },
          {
            "label": "Bottom left",
            "value": "bottom-left"
          },
          {
            "label": "Bottom center",
            "value": "bottom-center"
          },
          {
            "label": "Bottom right",
            "value": "bottom-right"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video",
        "settings": {
          "video_url": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        }
      }
    ]
  }
{% endschema %}
