
@font-face {
  font-family: 'catastrophe';
  src: url("https://cdn.shopify.com/s/files/1/0554/6190/4593/t/7/assets/catastrophe.ttf");
}
.pos_btn {
    position: absolute;
    bottom: 60px;
    width: 100%;
}
.slideshow__btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
div#shopify-section-162091390754486358 h1 {
    text-align: center;
    font-size: 76px;font-family: catastrophe;
    text-transform: uppercase;margin-bottom:20px;
}
/* 9-11-2021 */
.slide_image_content.slider-section {
    position: absolute;
    top: 16%;
    left: 5%;
    font-size: 77px;
    left: 5%;
    margin-right: 50%;
    line-height: 77px;
    color: #fff;
}
.slideshow__btn a.btn.btn--small.btn--primary {
    background: linear-gradient(to right, #b1922a ,#e8bc1b);
	background-repeat: no-repeat;	cursor: pointer;
}
.overlay__links a.btn.btn--small.btn--primary {
    background: none;
    box-shadow: unset;
    color: black;
    text-decoration: underline;
}
.mobile_image_slide img {
    width: 100%;
}
#cart_form .shoppay-description{
  padding: 20px;
  text-align: center;
  float: right;
} 
.shoppay-description{
  padding: 20px;
  text-align: center;
}
@media only screen and (max-width:767px){
.overlay.mobile-overlay-under .overlay__bg {
    background-color: unset!important;
}
/*   .slide.relative.avoid-overlaps {
    padding-inline: 20px;
} */
  .avoid-overlaps__mobile-container img{
    border-radius: 10px;
}
  .slideshow__btn a.btn.btn--small.btn--primary {
    padding: 13px 28px 13px 28px;
    font-size: 15px;
}
  .overlay__links a.btn.btn--small.btn--primary {
    margin: -21px 10px 15px;
}
  .avoid-overlaps__mobile-container {
    padding-inline: 20px;
}
  .full-width-slideshow .slick-dots {
    margin-top: -20px;
}
  .desktop_image_slide {
    display: none;
}
  body .mobile_image_slide {
    display: block;
}
}
@media only screen and (max-width:320px){
  .slideshow__btn a.btn.btn--small.btn--primary {
    padding: 12px 26px 12px 26px;
    font-size: 12px;
} 
}
.mobile_image_slide {
    display: none;
}
.large-row a.standard-link {
    color: black;
    text-decoration: none;
}
@media only screen and (min-width:768px){
 .overlay__links {
    margin-top: -27px;
}  
  .overlay.mobile-overlay-under.overlay--use-body-colours-mobile.overlay--center.global-border-radius-overlays.avoid-overlaps__item {
    left: 16%;
    top: 57%;
    text-align: left;
    font-size: 20px;
    max-width: 340px;
}
  .overlay.mobile-overlay-under.overlay--use-body-colours-mobile.overlay--center.global-border-radius-overlays.avoid-overlaps__item .overlay__links a.btn.btn--small.btn--primary{
     padding-left: 0;
    margin-left: 0;
    text-align: left;
    font-size: 19px;
    line-height: 20px;
  }
  .overlay.mobile-overlay-under.overlay--use-body-colours-mobile.overlay--center.global-border-radius-overlays.avoid-overlaps__item + .slideshow__btn{
    position: absolute;
    bottom: 17%;
    left: 14%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width:1200px) and (max-width:1422px){
  .overlay.mobile-overlay-under.overlay--use-body-colours-mobile.overlay--center.global-border-radius-overlays.avoid-overlaps__item {
    left: 18%;
    top: 59%;
    text-align: left;
    font-size: 20px;
    max-width: 340px;
}
  
}

div#shopify-section-1526918441414 .overlay-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
div#shopify-section-1526918441414 .overlay__links a.btn.btn--small.btn--primary {
	font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 500;color:#000;cursor: pointer;
}

  div#shopify-section-1526918441414 .slideshow__btn a.btn.btn--small.btn--primary {border:2px solid #000;}


@media screen and (max-width:767px) {
  .slideshow__btn {bottom: 30px;}
  div#shopify-section-1526918577590 {margin-top: 50px;}
  
.gourav_e925369f-fa21-4d33-83db-bf93a1e7cf23 .slide_image_content.slider-section {
    top: 5%;
    left: 50%;
    margin-right: 0%;
    line-height: 77px;
    width: 75%;
    transform: translateX(-50%);
}
  .gourav_e925369f-fa21-4d33-83db-bf93a1e7cf23 .overlay.mobile-overlay-under.overlay--use-body-colours-mobile.overlay--center.global-border-radius-overlays.avoid-overlaps__item {
    position: absolute;
    top: 15% !important;
}
  div#shopify-section-1526918441414 .gourav_e925369f-fa21-4d33-83db-bf93a1e7cf23 .overlay-text {text-align: left;}

div#shopify-section-1526918441414 .overlay__links {
    text-align: center;
}
  div#shopify-section-1526918441414 .overlay__links a.btn.btn--small.btn--primary {
    padding: 0px;
    width: auto;
    text-align: center;
    margin: 0px;
}
  div#shopify-section-1526918441414 .slideshow__btn {
    bottom: 0px;
} 
}

.meta_description {
    margin-top: 28px;
    margin-bottom: 15px;
}
span img.sca-fg-img-collect {
    bottom: 0 !important;
    top: auto !important;
}


/* Backer page */

[data--hidden], .is--hidden, .visibility--hidden {
  display: none !important;
}

.backers-grid {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1039px) {
  .backers-grid {
    margin-top: 10px;
  }
}

.backers-grid .item {
  padding: 15px 25px; 
}

.backers-grid .item .item_wrapper {
  border-radius: 10px;
  box-shadow: 0 3px 15px #56565657;
}

.backers-grid.col-5 .item {
  min-width: 20%;
  max-width: 20%;
}

.backers-grid.col-4 .item {
  min-width: 25%;
  max-width: 25%;
}

.backers-grid.col-3 .item {
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
}

@media (max-width: 749px) {
  .backers-grid .item {
    min-width: 50% !important;
    max-width: 50% !important;
    padding: 10px 15px;
  }
}

.backers-grid .item .info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 10px 8px 10px;
}

@media (max-width: 749px) {
  .backers-grid .item .info_wrapper {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
}

.backers-grid .item .info_wrapper .name {
  margin-bottom: 8px;
}

.backers-grid .item .info_wrapper span {
  line-height: 1;
}

#shopify-section-backers-main .btn_wrapper {
  margin-top: 20px;
  text-align: center;
}

#shopify-section-backers-main .btn_wrapper button {
  border-radius: 5px;
  color: #b9b9b9;
  font-size: 30px;
  font-weight: bold;
}

#shopify-section-backers-main .btn_wrapper button:hover {
  color: #FFF;
}

#shopify-section-backers-main .section_header {
  background: #ebebeb;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#shopify-section-backers-main .section_header .title {
  color: #727272;
  font-size: 34px;
  font-weight: 700;
}

@media (max-width: 749px) {
  #shopify-section-backers-main .section_header .title {
    font-size: 24px;
  }
}

#shopify-section-backers-main .search {
  margin-top: 15px;
}

#shopify-section-backers-main .search_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

#shopify-section-backers-main .search_wrapper > div {
  flex: 1;
}

#shopify-section-backers-main .search_box {
  max-width: fit-content;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_wrapper {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  #shopify-section-backers-main .search_box {
    max-width: unset;
    width: 100%;
  }
  #shopify-section-backers-main .rows_num {
    width: 100%;
  }
}


#shopify-section-backers-main .search_wrapper input {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

@media (min-width: 750px) {
  #shopify-section-backers-main .search_wrapper input {
    min-width: 330px;
  }
}

#shopify-section-backers-main .search_title {
  color: #727272;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_title {
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

#shopify-section-backers-main .search_title .key {
  cursor: pointer;
}

#shopify-section-backers-main .search_title .key.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

#shopify-section-backers-main .search_title span:first-child {
  /* border-left: 1px solid #727272; */
  border-right: 1px solid #727272;
  /* margin-left: 15px; */
  margin-right: 15px;
  /* padding-left: 15px; */
  padding-right: 15px;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_title span:first-child {
    margin-right: 10px;
    padding-right: 10px;
  }
  #shopify-section-backers-main .search_title span:nth-child(2) {
    /* margin-left: 12px;
    margin-right: 12px;
    padding-left: 12px;
    padding-right: 12px; */
  }
}

#shopify-section-backers-main .search_wrapper .sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  z-index: -9;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_wrapper .sort {
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    right: unset;
    position: relative;
    width: 100%;
  }
}

#shopify-section-backers-main .search_wrapper .sort .title {
  color: #727272;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  /* max-width: 70px; */
  text-align: right;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_wrapper .sort .title {
    margin-right: 0px;
    max-width: unset;
    text-align: left;
  }
}

#shopify-section-backers-main .search_wrapper .sort button {
  background: transparent;
  box-shadow: none;
  border: none;
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
  padding: 0;
}

#shopify-section-backers-main .search_wrapper .sort button svg {
  width: 36px;
  height: auto;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_wrapper .sort button svg {
    width: 24px;
    height: auto;
  }
}

#shopify-section-backers-main .search_wrapper .sort button.sort_inc {
  margin-right: -16px;
}

@media (max-width: 1039px) {
  #shopify-section-backers-main .search_wrapper .sort button.sort_inc {
    margin-right: 0px;
  }
}

#shopify-section-backers-main [data-empty-result] {
  color: #727272;
  display: block;
  font-size: 20px;
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

button:not(.active) svg {
  opacity: .3;
}
.cart-checkout{
  margin-top: 15px;
}
.cart-checkout .cart-submit{
  width: 100%;
}
@media (min-width: 1040px) and (max-width: 1200px) {
  #shopify-section-backers-main .search_wrapper {
    justify-content: space-between;
  }
  #shopify-section-backers-main .search_wrapper>div {
    flex: unset;
  }
}


.mu-cart-item .mu-bg-cover {
  min-width: 80px;
}

.mu-cart-item button {
  min-width: unset;
  box-shadow: 0 0 0 1px #d0d3d9 !important;
}

.header-cart > .cart-summary {
  display: none !important;
}

.mu-frequently-container .mu-btn-link {
  display: none !important;
}

.mu-frequently-container button.mu-relative {
  border-radius: 30px;
}